.NavMain {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #c5cdd6;
  margin: 0 1.5rem 1rem;
}

@media screen and (max-width: 600px) {
  .NavMain {
    order: 99;
  }
}
